---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "An automotive manufacturer utilize GoSeqr Privacy to streamline consent management, reducing compliance inquiries and fostering user trust.",
    link: "https://example.com/case-study1",
  },
  {
    index: 1,
    title:
      "An automotive firm employ GoSeqr Safety & Security for comprehensive risk assessments, leading to fewer safety incidents during development.",
    link: "https://example.com/case-study2",
  },
  {
    index: 3,
    title:
      "A cybersecurity firm use GoSeqr Safety & Security's tools to identify vulnerabilities, strengthening their security posture and reducing potential breach impacts.",
    link: "https://example.com/case-study4",
  },
];




import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
<SectionTitle
  sectionTitle="Use Cases"
  description="Discover how businesses leverage GoSeqr's innovative solutions to enhance compliance, safety, and security through practical applications and real-world examples."
/>
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-white rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
              <a href=# class="flex items-center gap-[15px]">
                <span class="text-green">Case Info</span>
                <picture>
                  <Image src={larrow} alt="Arrow pointing up right" />
                </picture>
              </a>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
