---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
import decorForm from "../../assets/pics/proposal-pic.png";
import { Image } from "astro:assets";

const description =
  "GoSeqr by Goismo offers advanced solutions for privacy, safety, and security compliance. It helps businesses meet GDPR privacy regulations, adhere to ISO 26262 safety standards, and ensure robust cybersecurity with ISO 21434. Designed by experienced engineers in the automotive and IT sectors, GoSeqr provides a user-friendly approach to regulatory adherence, addressing the unique challenges of these industries. GoSeqr is driving compliance and trust, delivering security and peace of mind to organizations and their customers.";

---
<Section id="about">
  <div class="mt-[140px] flex flex-col lg:flex-row items-start gap-10 bg-[#F3F3F3] rounded-[45px] p-[40px] relative">
    <!-- Left Side: About Us Description -->
    <div class="lg:w-3/4 flex flex-col justify-center">
      <SectionTitle sectionTitle="About Us" description={description} />
    </div>
    <!-- Right Side: Image Display -->
    <div class="lg:w-1/3 flex justify-end hidden lg:flex">
      <Image src={decorForm} alt="Decorative Image" class="w-full h-auto object-cover" />
    </div>
    <!-- Responsive Image for Smaller Screens -->
    <div class="lg:hidden w-full flex justify-center">
      <Image src={decorForm} alt="Decorative Image" class="w-3/4 h-auto object-cover" />
    </div>
  </div>
</Section>
